body{
    min-width: 1440px;
    height:1835px;
    background:rgba(244,244,244,1);
    margin: 0;
    padding: 0;
}
.head{
    height: 80px;
    background: #FFFFFF;
}
.head-c{
    width: 1000px;
    height:80px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 0px 0px rgba(238,238,238,1);
    display: flex;
    align-items: center;
    margin:0 auto;
}
.t1 {
    width:40px;
    height: 80px;
    font: 500 20px PingFangSC-Medium;
    color:rgba(244,67,54,1);
    line-height: 80px;
    margin: 0 auto;
}
.t2 {
    width:80px;
    height:80px;
    font: 500 20px PingFangSC-Medium;
    color:rgba(102,102,102,1);
    line-height:80px;
    margin: 0 auto;
}
.t1:hover{
    color:#F44336;
    border-top: 5px solid #F44336;
}
.t2:hover{
    color:#F44336;
    border-top: 5px solid #F44336;
}
input{
    width: 245px;
    height:30px;
    background:rgba(255,255,255,1);
    border:2px solid #F44336 ;
    margin:0 auto;
}
.p1{
    margin: 0 auto;
}
.t3{
    width:80px;
    height:36px;
    background:rgba(244,67,54,1);
    margin: 0 57px 0 -35px;
}
.t3 img{
    width:25px;
    height:25px;
    position: relative;
    left: 30px;
    top: 8px;
}
.t4{
    width:38px;
    height:20px;
    font-weight:500 14px PingFangSC-Medium;
    color:rgba(255,255,255,1);
    line-height: 30px;
}
.t5{
    width:90px;
    height:30px;
    background:rgba(29,192,145,1);
    border:0px solid rgba(29,192,145,1);
    text-align: center;
    margin: 0 auto;
    margin-right: 0px;
}
.all{
    width: 1000px;
    margin: 0 auto;
}
.mid img{
    width: 1000px;
    height:350px;
    margin: 0 auto;
}
.box1{
    width:1000px;
    height:400px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 0px 0px rgba(234,234,234,1);
    margin-top: -5px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.bigframe{
    width: 220px;
    height: 400px;
    margin-top: 40px;
    display: block;
    margin: 0 auto;
}
.circle{
    border-radius: 48px;
    border: 2px solid #1DC091;
    height: 96px;
    width: 96px;
    text-align: center;
    font: 36px PingFangSC;
    color: #1DC091;
    text-align: center;
    line-height: 96px;
    margin: 0 auto;
    position: relative;
    top:40px;
}
ul{
    display: block;
    width: 260px;
    height: 137px;
    border-left: 1px solid #EAEAEA;
    margin: 0 auto;
    position: relative;
    top:80px;
    margin-left: 23px;
}
.no{
    border-left: 0px;
}
a{
    text-decoration: none;
    color: #333333;
}
a p{
    margin-top: 4px;
    line-height: 5px;
}
.jia{
    border:1px solid #1DC091; 
    border-radius: 12.5px;
    height: 25px;
    width: 25px;
    text-align: center;
    margin: 0 0 48px 150px;
    color: #1DC091;
    font-size: 30px;
    line-height: 25px;
    margin: 0 auto;
    position: relative;
    top:110px;
}
ul a:hover{
    color: red;
}
.box2{
    width:1000px;
    height:355px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 0px 0px rgba(234,234,234,1);
    display: block;
    margin-top: 10px;
}
.box2-c{
    margin: 0 auto;
    width: 713px;
}
.headline1{
    width:108px;
    height:25px;
    font:500 18px PingFangSC-Medium;
    color:rgba(102,102,102,1);
    line-height:25px;
    margin: 0 auto;
    position: relative;
    top:30px;
}
.headline2{
    width:230px;
    height:17px;
    font:500 12px PingFangSC-Medium;
    color:rgba(29,192,145,1);
    line-height:17px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
.firstrow{
    display: flex;
}
.frame1{
    width:140px;
    height:105px;
    border:2px solid #1DC091 ;
    text-align: center;
}
.frame1:hover{
    background-color: #1DC091;
}
.frame1 a:hover{
    color: #FFFFFF;
}
.frame1 p{
    position: relative;
    top:31px;
}
.num1{
    width:58px;
    height:105px;
    font:300 48px PingFangSC-Light;
    color:rgba(244,67,54,1);
    line-height:105px;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
}
.secondrow{
    display: flex;
    margin: 0 auto;
}
.frame2{
    width:140px;
    height:105px;
    border:2px solid #1DC091 ;
    text-align: center;
    margin-top: -2px;
}
.frame2:hover{
    background-color: #1DC091 
}
.frame2 a:hover{
    color: #FFFFFF;
}
.frame2 p{
    position: relative;
    top:31px;
}
.num2{
    width:58px;
    height:105px;
    font:300 48px PingFangSC-Light;
    color:rgba(244,67,54,1);
    line-height:105px;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
}
.box3{
    width: 1000px;
    height:410px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 0px 0px rgba(234,234,234,1);
    margin-top: 10px;
}
.line1{
    width:108px;
    height:25px;
    font:500 18px PingFangSC-Medium;
    color:rgba(102,102,102,1);
    line-height:25px;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}
.line2{
    width:204px;
    height:17px;
    font:500 12px PingFangSC-Medium;
    color:rgba(29,192,145,1);
    line-height:17px;
    margin: 0 auto;
    margin-bottom: 63px;
}
.frame3{
    display: flex;
    margin: 0 auto;
    padding-left: 127px;
}
.smallbox{
    width:175px;
    height:105px;
    background:rgba(244,67,54,1);
    opacity:0.7;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
.frame3 p{
    position: relative;
    top:31px;
}
.p3{
    width: 40px;
    height: 32px;
    margin-left: 375px;
    position: relative;
    top:-16.5px;
}
.smallbox:hover{
    background-color: red; 
}
.footer{
    width: 100%;
    margin: 0 auto;
}
.box4{
    width: 100%;
    height:120px;
    background:rgba(51,51,51,1);
    box-shadow:0px -2px 0px 0px rgba(238,238,238,1);
    margin-top: 162px;
}
.p4{
    width:62px;
    height:31px;
    position: relative;
    top:34px;
    margin: 0 auto;
}
.transverseline{
    width:300px;
    height:2px;
    background: #9B9B9B;
    margin: 0 auto;
    margin-top: 38px
}
.text1,.text2, .text3{
    font: 14px PingFangSC;
    color: #9B9B9B;
    display: block;
}
.text1{
    margin: 0 12px 0 10px;
}
.text{
    display: flex;
    justify-content: center;
    margin: 5px 12px 0 0;
}
.text2{
    width:3px;
    height:15px;
    background:rgba(234,90,112,1);
    border-radius:2px;
    margin-right: 12px;
}